@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.dataset-schema-table {
  color: $almost-black;

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-text-items {
    margin: 1rem;
  }

  .schema-header {
    @include header();
  }

  .table-header {
    text-align: left;
    font-weight: 800;
  }

  a {
    @include sub-link();
  }
}
