@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.dataset-query {
  margin: 0 1.25rem;
  margin-top: -1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .query-input {
    width: 100%;
    padding: 0.5rem;
    color: $almost-black;
    border-color: $almost-black;
  }

  .action-button {
    @include button();
    padding: 1rem;
    background-color: $light-blue;
    color: $super-light-grey;
    letter-spacing: 0.05rem;
    margin: 1rem 1rem 1rem 0rem;
  }

  button:disabled,
  button:disabled:hover {
    background: #efefef;
    border: 1px solid #b1bbc9;
    color: #a2a9b3;
    text-decoration: none;
    cursor: default;
  }

  .error-message {
    color: $error-color;
  }

  loading-element {
    display: inline-block;
    width: 3rem;
    margin: 0;
    vertical-align: middle;
  }
}
