@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

dataset-query {
  margin: 0 1.25rem;
  margin-top: -1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .query-input {
    padding: 0.5rem;
    flex-grow: 2;
    color: $almost-black;
    border-color: $almost-black;
    height: 100%;
  }

  .action-button {
    @include button();
    padding: 1rem;
    background-color: $light-blue;
    color: $super-light-grey;
    letter-spacing: 0.05rem;
    margin: 1rem 1rem 1rem 0rem;
  }

  button:disabled,
  button:disabled:hover {
    background: #efefef;
    border: 1px solid #b1bbc9;
    color: #a2a9b3;
    text-decoration: none;
    cursor: default;
  }

  .error-message {
    color: $error-color;
  }

  loading-element {
    display: inline-block;
    width: 3rem;
    margin: 0;
    vertical-align: middle;
  }

  .recommended-dataset {
    width: 20em;
    display: inline-block;
  }

  .recommendation-list {
    border: 1px solid $light-grey;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid black;
    display: inline-block;
    padding: 0.5em;
    width: 23rem;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: $light-blue;
    }
  }

  .copy-table-name-icon {
    vertical-align: bottom;
  }

  textarea {
    width: 100%;
  }

  .user-input {
    height: 10em;
    width: 100%;
    display: flex;
  }

  a {
    color: red;
    @include link();
  }
}
