@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

user-profile-view {
  @include page-with-left-bar();

  .saved-workspaces {
    border: 1px solid $light-grey;

    .header-container {
      display: flex;
      justify-content: space-between;
    }

    .header-text-items {
      margin: 1rem;
    }

    .table-header {
      background-color: $header-grey;
      text-align: left;
      font-weight: 800;
    }

    .workspaces-header {
      @include header();
    }
  }
}
