@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

user-profile-view {
  @include page-with-left-bar();

  loading-element {
    @include default-loading-icon();
  }

  .saved-workspaces {
    border: 1px solid $light-grey;

    .header-container {
      display: flex;
      justify-content: space-between;
    }

    .header-text-items {
      margin: 1rem;
    }

    .table-header {
      background-color: $header-grey;
      text-align: left;
      font-weight: 800;
    }

    .workspaces-header {
      @include header();
    }
  }

  .delete-icon {
    text-align: center;
    color: $almost-black;
    margin: auto;
    cursor: pointer;
    
    &:hover {
      color: $error-color
    }

    &:active {
      color: $medium-grey
    }
  }

  .centered {
    text-align: center;
  }
}

div.modal-button-group {
  justify-content: space-evenly;
  display: flex;
}

button.modal-button {
  outline: none;
  color: white;
  padding: 1rem;
  letter-spacing: 0.05rem;

  &:active {
    background-color: $medium-grey;
  }
}

button.modal-confirm {
  @include button();
}

button.modal-cancel {
  @include button($almost-black);
}
