@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

.facet-sidebar {
  display: block;
  flex-direction: column;
  padding:0 2em 0 0;
  float:left;
  margin-top:20px;
  
}
.checkbox-label{
  font-size:12px;
  line-height:1;
}
.dialog-content {
  padding: 2rem;
}

.facet-list .show-more {
  padding:5px 0 1em 0;
}
.facet-list .section-header {
  font-size:1rem;
}
@media only screen and (max-width: 600px) { 
  .checkbox {
    float:right;
    text-align:right;
    display:block;
  }
  .checkbox-indicator {
    display:block;
    float:left;
    margin:0 7px 0 0 ;
  }
  .checkbox-indicator .checkmark {
    margin-left:6px;
  }
  .checkbox-label {
    margin:0px;
  }
  .facet-sidebar {
    margin-top:10px;
    clear:both;
    width:100%;
  }
  .facet-sidebar .checkbox {
    display:none;
  }

  .facet-sidebar .checkbox.selected {
    display:block;
  }
  .facet-list {
    border: 1px solid #d2d4d6;
    padding:0px 15px;
    margin-bottom:10px;
    border-radius:4px;
    position:relative;
  }
  .dialog-content .facet-list{
    border:none;
  }
  .dialog-content .checkbox{
    width:100%;
  }
  .facet-list .section-header {
    border:none;
    font-weight:normal;
    padding:.75rem 0 .5rem 0;
    color:#767879;
  }
  .facet-list .show-more {
    z-index:100;
    width:100%;
    height:100%;
    position:absolute;
    display:block;
    left:0px;
    top:0px;
    text-align:right;
    color:#999999;
    font-size:1px;
    background-image: url(../../assets/plus.png);
    background-repeat: no-repeat; 
    background-position: 98% 10px;
    background-size: 28px 28px;
  }
  login-zone login-svgs-and-text span{
    display:none;
  }  
  login-zone login-svgs-and-text .MuiSvgIcon-root {
    font-size:2.4rem;
  }
  login-zone .login-arrow {
    display:none;
  }
  search-box .search-bar {
    box-shadow:none;
    border-radius:30px;
    padding:10px 3.5rem;
    font-size: 130%;
    background:#edf1f5;
  }
  search-box .search .MuiSvgIcon-root {
    width:2rem;
    height:2rem;
  }
  search-box .clear {
    margin:10px 0
  }
}