@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

recommendation-list {
  .recommendation {
    line-height: 1rem;
    margin-bottom: 0.7rem;
    width: 85%;
    display: inline-block;

    a {
      word-break: break-all;
    }
  }

  .list-box {
    border: 1px solid $light-grey;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid $almost-black;
    display: inline-block;
    padding: 0.5em;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: $almost-black;
    }
  }

  .copy-table-name-icon {
    vertical-align: top;
    margin-right: 0.4rem;
    width: 10%;
    height: 1.4rem;
  }

  .action {
    color: $light-blue;
    &:hover {
      color: $almost-black;
    }

    &:active {
      color: $medium-grey;
    }
  }

  a {
    @include link();
  }
}
