@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

visualization-list-menu-item {
  .folder-icon {
    color: inherit;
  }

  .header-item {
    color: inherit;
  }

  .dialog-open {
    box-shadow: -5px 0 5px -5px $box-shadow-grey, 5px 0 5px -5px $box-shadow-grey;
    background-color: white;
    opacity: 1;
    z-index: 1000;
  }

  @include menu-item-popover();
}