@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

dataset-recommendations {
  @include custom-element();

  collapsable-box {
    margin-top: 0px;
  }

  border: 1px solid $light-grey;
  width: 100%;
}
