@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

login-zone {

  div.user-menu {
    background-color: $light-blue;
    color: white;
    fill: white;
    font-weight: bold;
    padding: 0.25rem 0;
    position: absolute;
    z-index: 10000;
    box-shadow: 2px 2px 5px grey;
    width: 15rem;
    
    li {
      list-style-type:none;
      cursor: pointer;
      display: flex;
      align-items: center;

      &:hover {
        text-decoration: underline;
      }

      a {
        text-decoration: none;
        color: inherit;
      }
    }

    .menu-text {
      margin-left: 0.5rem;
    }
  }
  
  login-svgs-and-text {
    display: flex;
    align-items: center;
    padding: 0.25rem 1rem;
  }

  p {
    margin: 0.5rem 0;
  }

  h3 {
    @include header-small();
    margin: 0;
  }

  .user-icon {
    vertical-align: top;
  }

  .user-icon-svg {
    height: 1.4rem;
    width: 1.4rem;
    fill: white;
  }

  .arrow {
    margin-left: 0.5rem;
  }

  button.action {
    background-color: $light-blue;
    color: white;
  }

  button.clickable {
    &:hover {
      background-color: $almost-black;
    }

    &:active {
      background-color: $medium-grey;
    }
  }

  button.status {
    background-color: transparent;
    color: $light-blue;

    &:hover {
      background-color: $light-blue;
      color: white;
    }
  }

  .logintext {
    display:block; 
    margin-left:4px;
  }

  button {
    border:none;
    cursor:pointer;
    font-weight: bold;
    text-align: left;
    padding: 1px 0px 2px;
    outline: none;
  }

  loading-element {
    width: 2rem;
    margin: auto;
  }
}
