@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

login-zone {
  display: flex;

  login-svgs-and-text {
    display: flex;
    line-height: 2rem;
    align-items: center;
  }

  p {
    margin: 0.5rem 0;
  }

  a, button {
    @include sub-link();
    font-weight: bold;

    &:hover .login-arrow-svg, &:hover .user-icon-svg {
      text-decoration: underline;
      fill: $almost-black;
    }
  }

  h3 {
    @include header-small();
    margin: 0;
  }

  .login-arrow {
    vertical-align: middle;
  }
  .login-arrow-svg {
    height: 0.9rem;
    width: 1.2rem;
    margin-left: 0.5rem;
    line-height: 0.90rem;
    fill: $light-blue;
  }

  .user-icon {

    vertical-align: top;

  }

  .user-icon-svg {
    height: 1.4rem;
    width: 1.4rem;
    fill: $light-blue;
  }

  button {
    border:none;
    cursor:pointer;
    color: #00AEEF;
    font-weight: bold;
    text-align: left;
    padding: 1px 0px 2px;
    background-color: transparent;
  }
  button:hover{
    text-decoration:underline;
    border:none;
  }
  button:focus{
    text-decoration:underline;
    border:none;
    outline:none;
  }

  loading-element {
    width: 2rem;
    margin: auto;
  }
}
