@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

login-zone {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  p {
    margin: 0.5rem 0;
  }

  a, button {
    @include sub-link();
    font-weight: bold;

    &:hover .login-arrow {
      text-decoration: underline;
      fill: $almost-black;
    }
  }

  h3 {
    @include header-small();
    margin: 0;
  }

  .login-arrow {
    height: 0.6rem;
    margin-left: 0.5rem;
    line-height: 0.90rem;
    fill: $light-blue;
  }

  button {
    border:none;
    cursor:pointer;
    color: #00AEEF;
    font-weight: bold;
    text-align: left;
    padding: 1px 0px 2px;
  }
  button:hover{
    text-decoration:underline;
    border:none;
  }
  button:focus{
    text-decoration:underline;
    border:none;
    outline:none;
  }
}
