@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

login-zone {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  p {
    margin: 0.5rem 0;
  }

  a {
    @include link();
    color: $light-blue;
    font-weight: bold;
    font-size: 0.90rem;
    line-height: 0.90rem;
  }

  h3 {
    @include header-small();
    margin: 0;
  }

  .login-arrow {
    height: 0.6rem;
    margin-left: 0.5rem;
    line-height: 0.90rem;
    &:hover {
      text-decoration: underline;
    }
  }
}
