@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

detail-toggle-icon {
  @include custom-element();

  .collapse-icon {
    font-size: 30px;
    color: $dark-grey;
    margin: 10px 10px 0 0;
  }

}