@import '../../styles/mixins.scss';

dataset-detail-view {
  @include page-with-left-bar();

  dataset-api-doc {
    margin-top: 2.5rem
  }

  .print-api-docs-button {
    @include button();
    display: inline-block;
    padding: 1.0rem;
    width: auto;
    color: white;
    letter-spacing: 0.05rem;
    margin: 1rem 1rem 1rem 0.5rem;
    align-self: flex-end;
    float: right;
    line-height: 150%;
  }

  .static-file-explanation {
    border: 1px solid #D2D4D6;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }

  .resources {
    margin-bottom: 0.75rem
  }

  .name {
    @include header();
    margin-bottom: 0.5rem;
    width: 65%;
    font-size:1.4em;
  }

  .table-of-contents a {
    @include link();
  }
  dataset-details .keywords {
    display:block; 
    clear:both;
    min-height:60px;
    width:100%;
  }

  dataset-details .keyword {
    background:none;
    border:none;
    padding:0px;
    margin:0;
    color:#00aeef;
    border-radius:0 !important;
    display:block;
    float:left;
  }
  dataset-details .keyword:after {
    content:","
  }
  dataset-details .keyword:last-child:after {
    content:""
  }
  dataset-metadata {
    margin-bottom:2em;
  }
  dataset-quality .completeness-score {
    float:left;
    display:block;
  }

  @media only screen and (max-width: 600px) {
    .dataset-detail-view {
      min-width:400px;
      padding:4%;  
    }
    dataset-view .header {
      display:none;
    } 
    .left-section, .right-section {
      width:100%;
      float:left;
      clear:both;
      display:block;
    }
    dataset-organization .logo {
      display:none;
    }
    share-zone {
      display:none;
    }
    .download-button {
      display:none;
    }
    dataset-details .keywords {
      word-wrap: break-word;
    }
    dataset-detail-view .name, dataset-organization .name {
      font-size:1rem;
      line-height:1.4;
      color:#999999;
      font-weight:normal;
    } 
    dataset-organization .organization-header {
      display:none;
    }
    dataset-details .name {
      font-size:1.5rem;
      line-height: 1.5rem;
      width:100%;
    }

    dataset-details .keyword {
      background:none;
      border:none;
      padding:0px;
      margin:0;
      color:#00aeef;
    }
    dataset-details .keyword:after {
      content:","
    }
    .preview-header, collapsable-box .title {
      font-size:1.3rem !important;
      text-transform:uppercase;
    }
    dataset-organization .description {
      display:none;
    } 
    api-example .parameter-table {
      font-size:0.8em;
      line-height:1.2;
    }
    api-example .parameter-example {
      word-wrap: break-word;
      white-space: normal;
      display:table-cell;
    }
    api-example .example-element {
      display: table-cell;
      padding: 10px;
      vertical-align: middle;
      font-size:12px;
    }
  } 
}
@media only screen and (max-width: 1000px) {
  dataset-organization .name {
    font-size:1rem;
    line-height:1;
  }
  dataset-organization .description {
    font-size:.9rem;
    line-height:1.2;
  }
} 
@media only screen and (max-width: 830px) {
  dataset-detail-view,.dataset-detail-view {
    min-width:auto;
  }

} 

@media print {
  body, html {
    width: 100%;
    height: initial !important;
    overflow: initial !important;
  }

  .tab-area {
    display: none !important;
  }

  .left-section {
    display: none !important;
  }

  .buttons {
    display: none !important;
  }

  #dataset-preview {
    display: none !important;
  }

  .dataset-recommendations {
    display: none !important;
  }

  .dataset-quality {
    display: none !important;
  }
}
