@import '../../styles/mixins.scss';

dataset-view {
  @include page-with-left-bar();

  dataset-api-doc {
    margin-top: 2.5rem
  }

  .static-file-explanation {
    border: 1px solid #D2D4D6;
    padding: 1rem;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
  }

  #dataset-metadata {
    margin-top: 2.5rem
  }

  .resources {
    margin-bottom: 0.75rem
  }

  .name {
    @include header();
    margin-bottom: 0.5rem;
  }

  .table-of-contents a {
    @include link();
  }
}
