@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

share-zone {
    @include custom-element();
    width: 100%;
    padding: 1.125rem 0;
    margin-top: 1rem;
    border-top: 1px solid $light-grey;

    .share-header, .name {
        @include header-small();
        margin-bottom: 1rem;
    }

    .button {
        margin-bottom: 0.5rem;
        width: 6rem;
        border-radius: 2px;
        border-style: none;
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        padding: 0;
        @include button();

        .share {
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
            margin-left: 0.5rem;
        }
        .icon {
            margin-left: 0.25rem;
        }
    }

    .facebook {
        background-color: $facebook-blue;
    }
    .twitter {
        background-color: $twitter-blue;
    }
    .linkedin {
        background-color: $linkedin-blue;
    }
    .clipboard {
        background-color: $light-blue;
        text-align: center;
        display: block;

        .copy {
            color: white;
            font-weight: bold;
            font-size: 0.9rem;
        }
    }
}
