@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

share-zone {
    @include custom-element();
    width: 100%;
    padding: 1.125rem 0;
    margin-top: 1rem;
    border-top: 1px solid $light-grey;

    .header, .name {
        @include header-small();
        margin-bottom: 1rem;
    }

    .button {
        margin-bottom: 0.5rem;
        width: 6rem;
        border-radius: 2px;
        border-style: none;
        display: flex;
        align-items: center;
        text-align: center;
        overflow: hidden;
        cursor: pointer;
        padding: 0;

        .share {
            color: white;
            font-weight: bold;
            font-size: 0.9em;
            margin-left: 0.5rem;
        }
        .icon {
            margin-left: 0.25rem;
        }
        &:hover {
            background-color: black;
        }
    }

    .facebook {
        background-color: #3b5998;
    }
    .twitter {
        background-color: #00aced;
    }
    .linkedin {
        background-color: #007fb1;
    }
    .clipboard {
        background-color: $light-blue;
        text-align: center;
        display: block;

        .copy {
            color: white;
            font-weight: bold;
            font-size: 0.9em;
        }
    }
}
