@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

login-view {
  display: flex;
  flex-direction: column;
  width: 8 * $column-width;
  margin: 5rem auto 0 auto;

  .submit {
    background-color: $light-blue;
    color: white;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    margin-top: 1rem;
    padding: 0.6rem 1rem;

    &:hover {
      background-color: $almost-black;
    }
  }

  .login-row {
    padding-top: 0.5rem;
  }
  .box {
    display: flex;
    flex-direction: column;
    border: 1px solid $light-grey;
    padding: 2.25rem $column-width;
  }

  input {
    border: 1px solid $light-grey;
    background-color: white;
    box-shadow: inset 0 1px 4px 0 rgba(0,0,0,0.1);
    padding: 0.75rem;
  }

  h3 {
    @include header-medium();
    margin: 0 0 0.75rem 0;
  }

  label {
    margin: 1rem 0 0.25rem 0;
    font-weight: bold;
  }

  .error-message {
    color: red;
  }

  a {
    @include link();
    font-size: 1rem;
    text-decoration: underline;
  }
}
