@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

streaming-api-doc {
  .example-container {
    justify-content: space-between;
    padding: 0px 20px 20px 20px
  }

  .example-code {
    border-radius: 5px;
    border: $medium-grey solid 1px;
    background-color: $super-light-grey;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .example-header {
    font-weight: bold;
    margin-top: 1rem
  }
}
