@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

streaming-api-doc {
  @include custom-element();

  .header-container {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }

  .header-container:hover { 
    background-color: $super-light-grey;
  }

  .header-text-items {
    margin: 1rem;
  }

  .api-doc-header {
    @include header();
  }

  .example-container {
    justify-content: space-between;
    padding: 0px 20px 20px 20px
  }

  .example-code {
    border-radius: 5px;
    border: $medium-grey solid 1px;
    background-color: $super-light-grey;
    padding: 10px;
    overflow-wrap: break-word;
    word-wrap: break-word;
  }

  .example-header {
    font-weight: bold;
    margin-top: 1rem
  } 

  border: 1px solid $light-grey;
  width: 100%

}
