@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

dataset-list-view {
  @include page-with-left-bar();

  .paginator {
    margin-top: 2rem;
  }
  
  .list-header {
    @include flex-row();
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px dotted $medium-grey;
    padding: 2rem 0;

    .result-count {
      font-weight: bold;
      font-size: 1.25rem;
    }

    .sort-select {
      height: 2.5rem;
      width: 18rem;
    }
  }
}
