@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

dataset-list-view {
  @include page-with-left-bar();

  .search-placeholder {
    width: 100%;
    border-top: 2px dotted $medium-grey;
    margin-top: 3rem;
  }

  .paginator {
    margin-top: 2rem;
  }
}
