@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

dataset-list-view{
    @include flex-column();
    justify-content: flex-start;
    align-items: flex-start;
    width: 70%;
    border-top: 2px dotted $medium-grey;
    margin-top: 3rem;
}
