@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

save-indicator {
  @include custom-element();

  display: flex;
  justify-content: flex-start;
  align-items: center;
  white-space: nowrap;
  margin-top: 10px;

  .success {
    color: #158655;
  }

  .failure {
    color: #B80000;
  }

  .icon {
    width: 1.5rem;
    margin-right: 1rem;
    line-height: 0;
    align-self: start;
  }

  p {
    margin: 0
  }
}