@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

dataset-visualization {
  display: block;
  height: 100%;

  .visualization-header {
    .header {
      display: flex;
      justify-content: space-between;
    }

    .button {
      @include button();
      padding: 1rem;
      background-color: $light-blue;
      color: $super-light-grey;
      letter-spacing: 0.05rem;
      margin: 1rem;
      min-width: 9rem;
      text-align: center;
    }
  }

  chart-visualization {
    display: block;
    height: 85%;
  }

  .success-message {
    color: $green;
  }

  loading-element {
    @include full-page-loading();
  }
}
