@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

dataset-metadata {

  home-banner {
    display:none !important;
  }
  home-banner .banner-background {
    display:none !important;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-text-items {
    margin: 1rem;
  }

  .metadata-header {
    @include header();
  }

  .table-header {
    background-color: $header-grey;
    text-align: left;
    font-weight: 800;
  }

  a {
    @include sub-link();
  }
}
