@import '../../../styles/variables.scss';

:root {
  --font-family-headings: Arial, Helvetica, sans-serif;
  --font-family-body: Arial, Helvetica, sans-serif;
  /* --color-button-primary-base-fill: #{$light-blue};
    --color-button-primary-base-border: #{$light-blue}; */
  /* --color-accent:#{$light-blue}; */
}
