@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
#dataset-preview {
  border: 1px solid $light-grey;

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-text-items {
    margin: 1rem;
  }

  .preview-header {
    @include header();
  }

  #dataset-preview-table {
    color: $almost-black;
    
    .table-header {
      background-color: $header-grey;
      text-align: left;
      font-weight: 800;
    }
  }
  
}