@import './variables.scss';

@mixin flex-row() {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

@mixin flex-column() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin custom-element() {
    display: block;
}

@mixin link() {
    color: $almost-black;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $light-blue;
    }
}

@mixin sub-link() {
    color: $light-blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
        color: $almost-black;
    }
}

@mixin button($background-color: $light-blue) {
    background-color: $background-color;
    text-decoration: none;
    border-width: 0px;

    &:hover {
        color: white;
        background-color: $almost-black;
        text-decoration: underline;
        cursor: pointer;
    }
}

@mixin page-with-left-bar() {
    @include custom-element();
    @include flex-row();
    $padding: 2rem;

    height: calc(100% - (#{$padding} * 2));
    width: calc(100% - (#{$padding} * 2));
    max-width: $break-max;
    min-width: $break-min;

    padding: $padding;
    align-items: flex-start;
    justify-content: space-between;
    overflow: auto;

    @media #{$above-max-break} {
        padding-left: calc((100% - #{$break-max}) / 2);
        padding-right: calc((100% - #{$break-max}) / 2);
    }

    & > * {
        flex-shrink: 0;
    }

    & > :first-child {
        width: 24%;
    }

    & > :last-child  {
        width: 73%;
    }
}

@mixin header() {
    font-size: 1.7rem;
    line-height: 2rem;
    font-weight: bold;
}

@mixin header-medium() {
  @include header();
  font-size: 1.5rem;
}

@mixin header-small() {
  @include header();
  font-size: 1.3rem;
}

@mixin full-page-loading() {
  width: 5rem;
  margin: 5rem auto;
}
