@import "./variables.scss";

@mixin flex-row() {
  flex-direction: row;
  justify-content: center;
}

@mixin flex-column() {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@mixin custom-element() {
  display: block;
}

@mixin link() {
  color: $almost-black;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $light-blue;
  }
}

@mixin sub-link() {
  color: $light-blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $almost-black;
  }
}

@mixin button($background-color: $light-blue) {
  background-color: $background-color;
  text-decoration: none;
  border-width: 0px;

  &:hover {
    color: white;
    background-color: $almost-black;
    text-decoration: underline;
    cursor: pointer;
  }
}

@mixin page-with-left-bar() {
  @include custom-element();
  $padding: 2rem;

  height: calc(100% - (#{$padding} * 2));
  min-width: $break-min;

  padding: $padding;

  .left-section {
    width: 19%;
    display:block;
    float:left;
    margin-right:1%;
  }

  .right-section {
    width: 80%;
    display:block;
    float:left;
    margin-bottom:2em !important;
  }

  @media only screen and (max-width: 600px) {
    padding:4%;
    min-width:92%;
    display:block;
  } 
}

@mixin header() {
  font-size: 1.7rem;
  line-height: 2rem;
  font-weight: bold;
}

@mixin header-medium() {
  @include header();
  font-size: 1.5rem;
}

@mixin header-small() {
  @include header();
  font-size: 1.3rem;
}

@mixin default-loading-icon() {
  width: 5rem;
  margin: 5rem auto;
}

@mixin menu-item-popover() {
  .tab-button {
    outline: none;
  }

  .popover {
    margin-right: 0.5rem;
    padding: 1rem;
    border-radius: 0px;

    box-shadow: 0px 5px 5px -3px $box-shadow-grey, 0px 8px 10px 1px $box-shadow-grey, 0px 3px 14px 2px $box-shadow-grey;

    min-width: 20rem; /* popover does not deal well with this missing */
  }
}
