$almost-black: #333;
$super-light-grey: #f7f7f7;
$light-grey: #D2D4D6;
$medium-grey: #97999C;
$dark-grey: #636466;
$csv-green: #8FD400;
$error-color: #ff0000;
$light-blue: #00AEEF;

$super-light-gray: $super-light-grey;
$light-gray: $light-grey;
$medium-gray: $medium-grey;
$dark-gray: $dark-grey;

$break-max: 1140px;
$break-min: 768px;
$above-max-break: "only screen and (min-width: #{$break-max})";
$below-min-break: "only screen and (max-width: #{$break-min})";
