$almost-black: #333;
$super-light-grey: #f7f7f7;
$header-grey: #ebedf0;
$light-grey: #d2d4d6;
$medium-grey: #97999c;
$dark-grey: #636466;
$csv-green: #8fd400;
$green: #71a702;
$error-color: #ff0000;
$light-blue: #00aeef;

$facebook-blue: #3b5998;
$twitter-blue: #00aced;
$linkedin-blue: #007fb1;

$box-shadow-grey: rgba(0,0,0,0.2);

$super-light-gray: $super-light-grey;
$light-gray: $light-grey;
$medium-gray: $medium-grey;
$dark-gray: $dark-grey;

$column-width: 6.92rem;
$break-max: 1110px;
$break-min: 768px;
$above-max-break: "only screen and (min-width: #{$break-max})";
$below-min-break: "only screen and (max-width: #{$break-min})";
