$almost-black: #333;
$light-grey: #D2D4D6;
$medium-grey: #97999C;
$dark-grey: #636466;

$csv-green: #8FD400;
$error-color: red;

$light-gray: $light-grey;
$medium-gray: $medium-grey;
$dark-gray: $dark-grey;

