@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.tab-button {
  border: 0;
  position: relative;
  list-style: initial;
  cursor: pointer;
  color: $dark-grey;
  background-color: transparent;
  fill: currentColor;

  &:hover {
    color: $almost-black;
  }

  &:focus {
    color: $almost-black;
  }

  &:disabled,
  &:disabled:hover,
  &:disabled:focus {
    cursor: default;
    color: $dark-grey;
  }
}