@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.tab-button {
  border: 0;
  position: relative;
  list-style: initial;
  cursor: pointer;
  color: $medium-grey;
  background-color: transparent;

  &:hover {
    color: $almost-black;
  }

  &:disabled, &:disabled:hover {
    cursor: default;
    color: $medium-grey;
  }
}