@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

query-form {
  $default-margin: 1.25rem;

  margin: $default-margin;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .action-button {
    @include button();
    padding: 1rem;
    background-color: $light-blue;
    color: $super-light-grey;
    letter-spacing: 0.05rem;
    margin: 1rem 1rem 1rem 0rem;
  }

  button:disabled,
  button:disabled:hover {
    background: #efefef;
    border: 1px solid #b1bbc9;
    color: #a2a9b3;
    text-decoration: none;
    cursor: default;
  }

  .error-message {
    color: $error-color;
  }

  loading-element {
    display: inline-block;
    width: 3rem;
    margin: 0;
    vertical-align: middle;
  }

  .recommended-dataset {
    width: 20em;
    display: inline-block;
  }

  textarea {
    width: 100%;
    border-color: black;
    resize: none;
  }

  .user-input {
    width: 100%;
    display: flex;
    margin-right: 2rem;
  }

  .dataset-reference {
    margin-bottom: 0.7rem;
    display: block;

    .icon {
      vertical-align: top;
      margin-right: 0.4rem;
      width: 10%;
      height: 1.4rem;
    }

    a {
      @include link();
      color: $light-blue;
      &:hover {
        color: $almost-black;
      }

      &:active {
        color: $medium-grey
      }
    }
  }

  .sql-title {
    margin-bottom: $default-margin;
  }

  .sql-textbox {
    padding: 0.5rem;
  }

  .sql-section {
    width: 70%;
    flex-grow: 3;
  }

  .query-info {
    width: 30%;
  }

  .link-list {
    margin-left: 3rem;
    padding-bottom: 1rem;
    flex-grow: 1;

    .title {
      margin-bottom: $default-margin;

      span {
        font-weight: bold;
      }

      .info-icon {
        height: 1rem;
      }
    }
  }

  .used-datasets-section {
    border: 1px solid $light-grey;
    max-height: 100%;
    overflow-y: auto;
    border: 1px solid $almost-black;
    display: inline-block;
    padding: 0.5rem;

    &::-webkit-scrollbar {
        -webkit-appearance: none;
    }

    &::-webkit-scrollbar:vertical {
        width: 11px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 2px solid white;
        background-color: $almost-black;
    }
  }
}
