@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

data-card {
    @include custom-element();
    width: 100%;
    padding: 1.125rem 0;
    margin-top: 0.125rem;
    border-bottom: 1px solid $light-grey;

    .title {
        @include header();
        margin-bottom: 0.5rem;
    }

    .description{
        width: 80%;
    }

    .file-types {
        margin-top: 1.125rem;

        .file-type {
            color: $csv-green;
            font-weight: bold;
        }
    }
}
