@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';
#dataset-schema {
  // border: 1px solid $light-grey;

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .header-text-items {
    margin: 1rem;
  }

  .schema-header {
    @include header();
  }

  #dataset-schema-table {
    color: $almost-black;

    .table-header {
      background-color: $header-grey;
      text-align: left;
      font-weight: 800;
    }
  }

  a {
    @include sub-link();
  }
}
