@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.call-to-action-button {
  @include button();
  display: inline-block;
  padding: 1.0rem;
  width: auto;
  color: white;
  letter-spacing: 0.05rem;
  margin: 1rem 1rem 1rem 0.5rem;
  align-self: flex-end;
  float: right;
  line-height: 150%;
}

.call-to-action-container {
  display: inline-block;
}
