@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

error-component {
  @include custom-element();
  align-self: center;

  .error-container {
    color: $error-color;
    padding: 5rem;
  }

  .error-icon {
    font-size: 32pt;
  }
}
