
@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

save-button-popover {
  height: 59%;

  .save-icon {
    margin-right: 0.5rem;
    display: block;
    position: relative;
  }

  .title-input {
    width: 12rem;
  }

  @include menu-item-popover();
}
