@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

query-view {
  .button {
    @include button();
    padding: 1rem;
    background-color: $light-blue;
    color: $super-light-grey;
    letter-spacing: 0.05rem;
    margin: 1rem;
    min-width: 9rem;
    text-align: center;
    font-weight: bold;
  }

  #data-view {
    border: 1px solid $light-grey;
  }

  #dataset-preview-table {
    color: $almost-black;
    padding: 1rem;

    .table-header {
      background-color: $header-grey;
      text-align: left;
      font-weight: 800;
    }
  }

  .success-message {
    color: $green;
  }

  loading-element {
    @include default-loading-icon();
  }
}
