@import '../../styles/mixins.scss';

dataset-organization {
  @include custom-element();
  @include flex-column();
  align-items: flex-start;

  .organization-header, .name {
    @include header-small();
  }

  .header {
    text-transform: uppercase;
  }

  .logo {
    width: 100%;
    max-width: 200px;
    align-self: center;
    margin: 2rem 0;
  }

  .name {
    margin-bottom: 0.75rem;
    width: 100%;
  }

  .description {
    width: 100%;
  }

}
