@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';

share-link {
    display: flex;
    align-items: center;

    .filter-icon {
        color: $light-blue;
        margin-left: 1rem;
        cursor: pointer;
    }

    a {
        @include sub-link();
    }
}
