@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.visualize-button {
  @include button();
  display: inline-block;
  padding: 1.0rem;
  width: auto;
  background-color: $light-blue;
  color: white;
  letter-spacing: 0.05rem;
  margin: 1rem 0rem 1rem 1rem;
  align-self: flex-end;
}