@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

dataset-details {
  @include custom-element();
  padding-bottom: 1.0rem;

  .name, .data-and-resources-header {
    @include header();
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 0.75rem;
  }

  .resources {
    margin-bottom: 0.75rem
  }

  .keywords {
    @include flex-row();
    height: 50px;
    justify-content: flex-start;
    margin-bottom: 0.75rem;
  }

  .keyword-label {
    font-weight: bold;
    margin-right: 0.75rem;
  }

  .keyword {
    @include button(white);
    color: $dark-grey;
    padding: 0.5rem 0.75rem;
    border: 1px solid $light-grey;
    border-radius: 1.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
