@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

dataset-details {
  @include custom-element();
  padding-bottom: 1rem;

  .dataset-details-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name {
    @include header();
    margin-bottom: 0.5rem;
  }

  .description {
    margin-bottom: 0.75rem;
  }

  .resources {
    margin-bottom: 0.75rem;
  }

  .keywords {
    @include flex-row();
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 0.75rem;
  }

  .keyword-label {
    font-weight: bold;
    margin-right: 0.75rem;
  }

  .keyword {
    @include button(white);
    color: $dark-grey;
    padding: 0.5rem 0.75rem;
    border: 1px solid $light-grey;
    border-radius: 1.5rem;
    margin-bottom: 0.5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }
  }
}
