@import '../../styles/mixins.scss';

.apiKey-view-title {

  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding-bottom: 20px;

  color: $black;

  flex: none;
  flex-grow: 0;
}

.apiKey-view-paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;

  display: flex;
  align-items: center;

  color: $black;

  padding-bottom: 65px;

  flex: none;
  flex-grow: 0;
}

.apiKey-view-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 30px;
  margin: 20px 20px;
  gap: 20px;
  box-shadow: 0 0 6px gray;
  min-width: 400px;

  background: $white;

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.apiKey-view-generate-button {
  @include button();
  display: flex;

  padding: 1rem;
  background-color: $light-blue;
  color: white;
  letter-spacing: 0.05rem;
  margin: 1rem 1rem 1rem 0rem;
}

.modal-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  padding: 40px 30px;
  margin: 20px 20px;
  gap: 20px;
  box-shadow: 0 0 6px gray;
  max-width: 800px;

  background: $white;

  align-self: stretch;
}

.modal-header-box {
  display: flex;
  width: 100%;
}

.MuiSvgIcon-root.modal-close-button {

  height: 1.5em;
  width: 1.5em;

  &:hover {
    background-color: $light-gray;
  }
}

.modal-title {
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  text-transform: capitalize;

  color: $black;

  flex: none;
  flex: 9
}

.modal-paragraph {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 13px;
  margin-bottom: 100px;
  gap: 10px;

  background: $warning-background;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2px;

  flex: none;
  flex-grow: 0;
}

hr.solid {
  border: 1px solid $light-gray;
  width: 100%;
  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

.apikey-modal-warning-icon-container {
  display: flex;
  flex: 1;
  width: 100%;

}

.MuiSvgIcon-root.apikey-modal-warning-icon {

  height: 2em;
  width: 2em;
  color: $error-color;
}

.paragraph-text {
  display: flex;

  flex: 15;
}

.modal-button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.modal-confirm-button {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 15px 50px;
  gap: 10px;

  border: 1px solid $error-color;

  flex: none;
  flex-grow: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  color: $error-color;

  background: none;

  &:hover {
    background-color: $error-color;
    color: white;
    border: 1px solid $error-color;
  }

}

.modal-cancel-button {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 15px 50px;
  gap: 10px;

  flex: none;
  flex-grow: 0;

  font-style: normal;
  font-weight: 700;
  font-size: 20px;

  background: none;

  border: none;

  &:hover {
    background: $light-grey;
  }

}

.loading-spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
}

.loading-spinner {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 20%;
  height: 20%;
}

.apiKey-view-sub-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-transform: capitalize;
  padding-bottom: 20px;

  color: #333333;

  flex: none;
  order: 3;
  flex-grow: 0;
}

.apiKey-view-display-page-display-window-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 50px;
}

.apiKey-view-display-page-display-window {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1px 1px 1px 10px;
  gap: 10px;

  width: 340px;
  height: 73px;

  background: #F0F0F0;

  border: 1px solid #595959;
  border-radius: 10px 0px 0px 10px;

  flex: none;
  flex-grow: 0;
}

.apiKey-view-display-page-copy-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  color: white;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;


  text-align: center;

  width: 76px;
  height: 73px;

  background-color: $light-blue;

  border-radius: 0px 9px 9px 0px;
  border-style: none;

  flex: none;
  flex-grow: 0;

  &:hover {
    color: white;
    background-color: $almost-black;
    cursor: pointer;
  }
}

.apiKey-view-display-page-return-button {
  @include button();

  display: flex;

  padding: 1rem;
  background-color: $light-blue;
  color: white;
  letter-spacing: 0.05rem;

  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  border: 1px;
  border-radius: 2px;
}

.apiKey-view-display-page-return-button-link {
  display: flex;
  text-decoration: none;
}

.apiKey-view-display-page-return-button-container {
  display: flex;
  text-decoration: none;

  flex-direction: column;
  align-items: flex-start;
}
