@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.facet-list {
  display: flex;
  flex-direction: column;

  .section-header {
    @include header-small();
    text-transform: uppercase;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    border-top: 1px solid $light-grey;
  }

  .show-more {
    cursor: pointer;
  }
}
