@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

facet-list {
  display: flex;
  flex-direction: column-reverse;

  .section-header {
    @include header-small();
    text-transform: uppercase;
    padding-top: 1.25rem;
    padding-bottom: 0.25rem;
    border-top: 1px solid $light-grey;
  }

  .facet {
    margin: 1rem 0;
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .facet-indicator {
    border-width: 1px;
    border-style: solid;

    width: 1.25rem;
    height: 1.25rem;
    margin-left: 0.25rem;
    display: flex;
    justify-content: center;

    &.selected {
      background-color: $light-blue;
      border-color: $light-blue;
    }
    .cool-check-mark {
      transform: rotate(45deg);
      height: 0.75rem;
      width: 0.35rem;
      border-bottom: 2px solid white;
      border-right: 2px solid white;
    }
  }
  .facet-label {
    margin: 0 0.75rem;
    line-height: 1rem;
    width: 80%;
  }
}
