@import './styles/mixins.scss';

main-app-element {
  @include flex-column();
  height: 100%;
  width: 100%;
  justify-content: flex-start;

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
