@import './styles/mixins.scss';
@import './styles/variables.scss';

main-app-element {
  @include custom-element();

  height: 100%;
  width: 100%;

  position: relative;
  color: $almost-black;
  overflow-y: hidden;

  a {
      color: $almost-black;
      text-decoration: none;

      &:hover {
          text-decoration: underline;
          color: $light-blue;
      }
  }
}
