main-app-element {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
