@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.visualization-view-popover {
  .saved-link-dialog {
    padding: 1rem;
    width: 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .saving-spinner {
    width: 2rem;
    line-height: 0;
  }
}

visualization-view {
  .header {
    border-bottom: 0;
    box-shadow: 0px 1px 3px $light-grey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .tab-area,
  .action-area {
    display: flex;
    align-items: center;
  }

  .action-area {
    margin-right: 0.5rem;
  }

  .header-item {
    display: block;
    border: 0;
    position: relative;
    list-style: initial;
    cursor: pointer;
    color: $medium-grey;
  }

  .tab {
    padding: 12px 24px;

    &:hover {
      color: $almost-black;

      .sql-icon {
        padding-left: 5px;
        fill: $almost-black;
      }

      .chart-icon {
        path {
          fill: $almost-black;
        }
      }
    }

    &.selected {
      background: transparent;
      border-bottom: 5px solid;
      border-color: $light-blue;
      color: $almost-black;

      .sql-icon {
        padding-left: 5px;
        fill: $almost-black;
      }

      .chart-icon {
        path {
          fill: $almost-black;
        }
      }
    }
  }


  .chart-icon {
    padding-left: 5px;
    path {
      fill: $medium-grey;
    }
  }

  .sql-icon {
    padding-left: 5px;
    fill: $medium-grey;
  }

  .loading-spinner {
    @include default-loading-icon();
  }
}
