@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

visualization-view {
  .header {
    border-bottom: 0;
    box-shadow: 0px 1px 3px $light-grey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .tab-area,
  .action-area {
    display: flex;
    align-items: center;
  }

  .header-item {
    display: block;
    border: 0;
    position: relative;
    list-style: initial;
    cursor: pointer;
    color: $medium-grey;
  }

  .tab {
    padding: 12px 24px;

    &:hover {
      color: $almost-black;

      .sql-icon {
        padding-left: 5px;
        fill: $almost-black;
      }

      .chart-icon {
        path {
          fill: $almost-black;
        }
      }
    }

    &.selected {
      background: transparent;
      border-bottom: 5px solid;
      border-color: $light-blue;
      color: $almost-black;

      .sql-icon {
        padding-left: 5px;
        fill: $almost-black;
      }

      .chart-icon {
        path {
          fill: $almost-black;
        }
      }
    }
  }

  .chart-icon {
    padding-left: 5px;
    path {
      fill: $medium-grey;
    }
  }

  .sql-icon {
    padding-left: 5px;
    fill: $medium-grey;
  }

  .loading-spinner {
    @include default-loading-icon();
  }
}

/* popover that needs to be tightly coupled */

visualization-view {

  .popover-anchor {
    height: 50%;
    margin-right: 0.5rem;
  }

  .popover-root {
    z-index: 900 !important;
  }

  .save-button {
    padding: 1px 1rem 2px;
  }

  .save-button.saving {
      box-shadow: -5px 0 5px -5px $box-shadow-grey, 5px 0 5px -5px $box-shadow-grey;
    background-color: white;
    opacity: 1;
    z-index: 1000;
  }

  .popover {
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border-radius: 0px;

    box-shadow: 0px 5px 5px -3px $box-shadow-grey, 0px 8px 10px 1px $box-shadow-grey, 0px 3px 14px 2px $box-shadow-grey;

    width: 35rem; /* popover does not deal well with this missing */
    white-space: nowrap;

    .failure-message-area {
        p {
            margin: 0;
        }
    }
    .success-message-area {
        margin-right: 0.1rem;
        p {
            margin-top: 0;
        }
    }
    .saving-spinner {
      margin-right: 1rem;
      width: 1.5rem;
      line-height: 0;
      align-self: start;
    }
  }
}
