@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

visualization-view {
  .header {
    border-bottom: 0;
    box-shadow: 0px 1px 3px $light-grey;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .tab-area,
  .action-area {
    display: flex;
    align-items: center;
  }

  .link-disabled {
    pointer-events: none;
  }

  .login-message {
    width: 20rem;
    margin-left: 0.5rem;
  }

  .new-visualization-form {
    margin: 0.5rem;
  }

  .header-item {
    display: block;
    border: 0;
    position: relative;
    list-style: initial;
    cursor: pointer;
    color: $medium-grey;
  }

  .tab {
    padding: 12px 24px;

    &:hover {
      color: $almost-black;

      .sql-icon {
        padding-left: 5px;
        fill: $almost-black;
      }

      .chart-icon {
        path {
          fill: $almost-black;
        }
      }
    }

    &.selected {
      background: transparent;
      border-bottom: 5px solid;
      border-color: $light-blue;
      color: $almost-black;

      .sql-icon {
        padding-left: 5px;
        fill: $almost-black;
      }


      .chart-icon {
        path {
          fill: $almost-black;
        }
      }
    }
  }

  .chart-icon {
    padding-left: 5px;
    path {
      fill: $medium-grey;
    }
  }

  .sql-icon {
    padding-left: 5px;
    fill: $medium-grey;
  }

  .loading-spinner {
    @include default-loading-icon();
  }
}

/* popover that needs to be tightly coupled */

visualization-view {
  position: relative;

  .popover-anchor {
    height: 50%;
    margin-right: 0.5rem;
  }

  .popover-root {
    z-index: 900 !important;
  }

  .save-button {
    margin-top: 15px;
    margin-right: 15px;
    padding: 1px 1rem 2px;
  }

  .save-button.saving {
    box-shadow: -5px 0 5px -5px $box-shadow-grey, 5px 0 5px -5px $box-shadow-grey;
    background-color: white;
    opacity: 1;
    z-index: 1000;
  }

  .clear-icon {
    position: absolute;
    top: 5px;
    right: 5px;

    &:hover {
      background-color: $light-grey;
      border-radius: 50%;
    }
  }

  .visualization {
    height: 85vh;
    width: 100vw;
    display: none;
  }

  .visualization--selected {
    display: flex;
  }
  @media only screen and (max-width: 600px) {
    .header {
      display:none;
    } 
  } 
}
